@import "./variables.scss" ;

.top-logo {
   display: flex;
   margin: 0 auto;
   margin-top: 20vh;
   
   margin-bottom: 10vh;
}

.form-wrapper {
   box-shadow: 1px 3px 12px 2px rgba(0,0,0,0.13);
   padding:  3rem 4rem;
}


.start-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 334px;
   height: 60px;
   background: #7070701A 0% 0% no-repeat padding-box;
   border-radius: 5px;

   p {
      margin: 0;
      text-align: center;
    
      font-size: 18px;
      font-weight: 700;

      letter-spacing: 0;
      color: #242424;
   }

}